src/main/app/hbase-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
		xmlns="http://www.mulesoft.org/schema/mule/core" 
		xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
		xmlns:hbase="http://www.mulesoft.org/schema/mule/hbase"
		xmlns:spring="http://www.springframework.org/schema/beans" 
		xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
		version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/hbase http://www.mulesoft.org/schema/mule/hbase/current/mule-hbase.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">	

    <context:property-placeholder location="hbase-demo.properties"/>
    
    <hbase:config name="hbaseTest" doc:name="Hbase">
        <hbase:properties>
            <hbase:property key="hbase.zookeeper.quorum">${zookeeper.host}</hbase:property>
            <hbase:property key="hbase.zookeeper.property.clientPort">${zookeeper.port}</hbase:property>
        </hbase:properties>
    </hbase:config>
    
    <flow name="hbase-demo" doc:name="hbase-demo">
        <http:inbound-endpoint host="${http.host}" port="${http.port}" path="${http.path}" doc:name="HTTP"/>
        <flow-ref name="getCustomerFromCDR" doc:name="Flow Reference"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    
    <flow name="getCustomerFromCDR" doc:name="getCustomerFromCDR" doc:description="Given Adds a row to the table, setting the weather                         description">
        <logger message="Get Value from Customer table..." level="INFO" doc:name="Logger"/>
        <hbase:get-values config-ref="hbaseTest" tableName="Customer" doc:name="HBase" rowKey="1"/>
        <logger message="back from Hbase: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>